@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Baskerville:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.titulo {
    padding: 20px;
    display: flex;
    align-items: center;
    padding-left: 170px;
}

.title {
    vertical-align: top;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
    font-family: 'Baskerville', sans-serif;
}

.intro-texto {
    text-align: center;
    font-family: 'Baskerville', sans-serif;

}
.intro-texto1 {
    font-family: 'Baskerville', sans-serif;
    text-align: center;
    padding-bottom: 80px;

}

.imagem-titulo {
    vertical-align: middle;
    max-width:300px;
    max-height:250px;
    width: auto;
    height: auto;
}

.imagem-livros {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 90px;
    margin-left: 120px;
    max-width:300px;
    max-height:250px;
    width: auto;
    height: auto;
    text-align: center;
}

.imagem-repertorio {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 120px;
    max-width:320px;
    max-height:270px;
    width: auto;
    height: auto;
    text-align: center;
}

.titulo-livros {
    margin-left: 60px;  
    font-family: 'Baskerville', sans-serif;
}